%html
  %head
    %link(href='/stylesheets/foundation.css'  rel='stylesheet')
    %link(href='/stylesheets/jrubygradle.css'  rel='stylesheet')
    %link(rel="alternate" type="application/atom+xml" title="JRuby/Gradle News" href="/news.atom")
    %title
      = page.title
  %body
    %a(href="https://github.com/jruby-gradle")
      %img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
    %div#main_nav
      %ul
        %li
          %a(href='/')
            Home
        %li
          %a(href='/docs/')
            Documentation
        %li
          %a(href='/community/')
            Community
        %li
          %a(href='/news/')
            News
        %li
          %a(href='/download/')
            Download
        %li
          %a(href="https://travis-ci.org/jruby-gradle/jruby-gradle-plugin")
            %img(src="https://travis-ci.org/jruby-gradle/jruby-gradle-plugin.svg?branch=master")/
        %li
          %a(href="https://bintray.com/jruby-gradle/plugins")
            %img(src="https://api.bintray.com/packages/jruby-gradle/plugins/jruby-gradle-plugin/images/download.svg")/

    %div#content
      %h1
        = page.title
      = content


    %hr/
