language: java
sudo: false
env:
  - GRADLE_OPTS="-Xmx768m -Xms256m -Xss1m"
script:
  - ./gradlew -S -i --no-daemon clean check build
jdk:
  - openjdk8
os:
  - linux
cache:
  directories:
    - $HOME/.gradle
